streamlit
pandas
plost
plotly
plotly.express
pyodbc
streamlit_authenticator
streamlit-option-menu
geopy
wordcloud
nltk
matplotlib
streamlit-lottie
requests
openpyxl
oauth2client
google.cloud
gspread
python-dotenv
openai==0.27.0
transformers
torch
requests
PyPDF2
pdfplumber
